HardwareSynthesisDesign/HardwareSynthesisDesign.cache
HardwareSynthesisDesign/HardwareSynthesisDesign.hw
HardwareSynthesisDesign/HardwareSynthesisDesign.ip_user_files
HardwareSynthesisDesign/HardwareSynthesisDesign.runs
.jou
.log